body {
  background-color: mediumslateblue;
}
h2 {
    color: black; text-align:center; font-size: 40px;font-family: Verdana, Geneva, Tahoma, sans-serif;margin: 50px 0;
  }
p {text-align:center;}
.grille {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-gap: 10px;
  align-items: center;
}
.grid-item {
  width: auto;
  height: auto;
  background: #555;
  justify-content: center;
}
